body {
	background-color: #F0FFFF;
}

h1 {
	color: white;
	text-align: center;
	font-size: 40px;
	font-family: Sans-Serif, Garamond;
	background-color: #000000;
}

h2 {
	color: white;
	text-align: center;
	font-size: 20px;
	font-family: Sans-Serif, Garamond;
	background-color: #000000;
}

h3 {
	color: white;
	text-align: center;
	font-size: 15px;
	font-family: Sans-Serif;
	background-color: #000000;
}

figure {
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
}

div {
	border-radius: 10px;
	border: 2px solid #FF3300;
	background-color: #FFFFFF;
	height: 50px;
	width: 140px;
	margin: auto;
	text-align: center;
}

div a {
	text-decoration: none;
	color: #000000;
	font-family: Garamond, Verdana;
}

span {
	font-weight: bold;
	font-size: 18px;
	color: #000000;
}